@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "attila";
  src: url(./fonts/attila.ttf);
}

@font-face {
  font-family: "dancing script";
  src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "attila";
  color: #d1d1d1;
}

html,
body {
  height: 100%;
  width: 100%;
  /* color: #fff */
}

body {
  overflow-x: hidden;
  background-color: #232025;
}

#main {
  /* height: 100%;
  width: 100%; */
  /* background-color: #232025; */
  position: relative;
}

#top-menu {
  height: 100vh;
  width: 100vw;
  background-color: #cecece;
  position: fixed;
  top: -100vh;
  padding: 6.5rem 4.5rem;
  color: #2b2b2b;
  transition: all ease-in-out 1s;
  cursor: pointer;
  z-index: 1;
}

#top-menu > h1 {
  color: #2b2b2b;
  font-size: 11rem;
  font-weight: 900;
  font-family: attila;
  letter-spacing: -15px;
}

#menu-items {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

#menu-items h1 {
  font-size: 1.5rem;
  color: #2b2b2b;
  /* font-weight: 100; */
  line-height: 2.8rem;
  margin-left: 0.5rem;
}

#detail-options h1 {
  font-size: 1.5rem;
  color: #2b2b2b;
  font-weight: 100;
  line-height: 2.8rem;
  margin-left: 0.5rem;
}

#nav-bar {
  position: fixed;
  width: 100vw;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  z-index: 1;
  cursor: pointer;
  transition: all ease-in 1.5s;
}

#nav-options {
  display: flex;
  align-items: center;
}

#nav-bar h1 {
  letter-spacing: 7px;
  font-size: 1rem;
  cursor: default;
}

#nav-options #icon {
  margin-left: 3.125rem;
  display: flex;
  flex-direction: column;
  height: 1rem;
  /* background-color: red; */
  align-items: flex-start;
  justify-content: space-around;
}

#nav-options #icon #line-1 {
  width: 1.75rem;
  height: 0.125rem;
  background-color: #d1d1d1;
}

#nav-options #icon #line-2 {
  width: 3vh;
  height: 0.125rem;
  background-color: #d1d1d1;
}

#nav-options h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: default;
  font-size: 0.9rem;
}

#nav-bar #brand-name {
  text-transform: uppercase;
}

#page-1 {
  width: 100vw;
  min-height: 85vh;
  padding: 7.5rem 4.5rem 0 4.5rem;
  background-color: #232025;
  position: relative;
}

#page-1 h1 {
  font-family: "attila";
  font-size: 11.5rem;
  letter-spacing: 0.8rem;
}
#page-1 h2 {
  font-size: 2.6rem;
  margin: 4.1rem 0 0 12.8rem;
  opacity: 0.7;
}

#floatng-text {
  width: 10%;
  position: absolute;
  bottom: 23%;
  right: 18%;
}

#floatng-text h5 {
  line-height: 15px;
  opacity: 0.7;
}

#page-2 img {
  position: relative;
  /* top: -100%; */
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0) scale(0.9);
  margin-bottom: 11rem;
}

#page-2 {
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 9.125rem;
  text-align: center;
  /* padding: ; */
}

#page-2 h1 {
  /* position: absolute;
  bottom: 5%; */
  font-size: 3.1rem;
  width: 70%;
  margin: auto;
  opacity: 0;
  transform: rotateX(270deg);
  transform-origin: 100% 100%;
}

#page-2 h1 span {
  font-family: dancing script;
}

#page-3 {
  width: 100vw;
  height: 100vh;
}

#page-4 {
  height: 76vh;
  width: 100vw;
  /* background-color: firebrick; */
}

#page-4 > h1 {
  font-size: 7rem;
  line-height: 4.7rem;
  margin: 3.125rem 0 5rem 3.5rem;
}

#page-4 #table-content {
  display: flex;
  justify-content: space-between;
  height: 11.5rem;
  width: 100%;
  /* border: 1px solid #cecece; */
  /* align-items: center; */
}

#page-4 #table-content h1 {
  font-size: 3rem;
  line-height: 1.8rem;
  padding: 2.8rem 0 0 3.125rem;
  width: 70%;
  border: 1px solid #cecece;
  border-right: none;
  border-left: none;
}

#page-4 #table-content h2 {
  font-size: 1.3rem;
  line-height: 1.9rem;
  padding: 2.5rem 4rem 0 3.9rem;
  width: 30%;
  border: 1px solid #cecece;
}

#page-5 {
  width: 100vw;
  height: 80vh;
  background-image: url(./assets/stars.gif);
  /* background-position: center; */
  /* background-size: cover; */
  text-align: center;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-5 h1 {
  font-size: 3.5rem;
  line-height: 2.5rem;
}

#page-5 h1 span {
  font-family: dancing script;
  font-size: 4.5rem;
}

#page-5 h2 {
  font-size: 0.9 rem;
  margin-top: 4rem;
  text-align: left;
}

/* #page-5 img {
  width: 3 0.125rem;
  height: 3.125rem;
  object-fit: cover;
} */

#page-6 {
  height: 100vh;
  /* width: 100vw; */
}

#page-6 h1 {
  font-size: 11rem;
  overflow-x: auto;
  /* transform: translateX(-100%); */
  overflow-y: hidden;
  /* width: 100%; */
  line-height: 9rem;
  cursor: default;
  /* text-wrap: nowrap; */
  white-space: nowrap;
}

#page-6 h1::-webkit-scrollbar {
  display: none;
}

.scroll-text-1 {
  /* background-color: gold; */
  width: 600vw;
}

.scroll-text-2 {
  /* background-color: black; */
  width: 600vw;
}

.scroll-text-1 .one-2 {
  color: transparent;
  -webkit-text-stroke: 1px rgba(209, 209, 209, 0.8);
}

.scroll-text-2 .one-1 {
  color: transparent;
  -webkit-text-stroke: 1px rgba(209, 209, 209, 0.8);
}

.scroll-text-2 {
  transform: translateX(-50%);
}

#page-7 {
  height: 100vh;
  width: 100vw;
  padding-top: 13rem;
  /* text-align: center; */
}

#page-7 > h1 {
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.1rem;
}

#page-7 > h1 span {
  font-family: dancing script;
  font-size: 3.1rem;
}

#page-7 #options {
  width: 100%;
  height: 75%;
  /* background-color: goldenrod; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 0 2rem; */
}

#page-7 #options h2 {
  font-size: 2.3rem;
  z-index: 5;
  cursor: default;
  pointer-events: none;
}

#page-7 #options #yes {
  width: 40%;
  height: 100%;
  /* border: 1px solid #cecece; */
  text-align: center;
  /* align-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#page-7 #options #no {
  width: 40%;
  height: 100%;
  /* border: 1px solid #cecece; */
  /* text-align: center; */
  /* align-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#page-7 #options #yes h2 {
  position: relative;
}

#page-7 #options #no h2 {
  position: relative;
}

#options #yes img {
  width: 250px;
  height: 29 0px;
  /* object-fit: cover;
  object-position: center; */

  transform: rotate(20deg);
  z-index: -1;
  position: absolute;
  left: 20%;
  transform: translate(-50%, 0);
  transform: rotate(15deg);
  transition: opacity ease-in 0.4s;
}

#options #no img {
  width: 250px;
  height: 290px;
  /* object-fit: cover;
  object-position: center; */

  z-index: -1;
  position: absolute;
  left: 20%;
  transform: translate(-50%, 0);
  transform: rotate(10deg);
  transition: opacity ease-in 0.4s;
}

#options img {
  opacity: 0;
}
